
.HeroImage {
    width: 100vw;
    height: 60vh;
    background-image: url(../assets/mobile-hero-image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}

h2 {
    margin: 20px 20px 0 20px;
}

.HeroImage h1 {
    margin-bottom: 150px;
}

.CountryDisplayTitle {
    display: flex;
    margin: 0 20px 0 0;
    justify-content: space-between;
    align-items: center;
}

.CountryDisplayTitle a {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    color: #544EEE;
    margin-top: 20px;
}

.CountryDisplayTitle a:hover {
    color: #34319b;
}

.CountryDisplayBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    max-width: 89vw;
    margin: 20px 20px 0 20px;
    border-radius: 30px;
    /* padding: 0px 16px 40px 16px; */
    background-color: white;
}

.RandomCountryImage {
    height: 220px;
    /* width: 42vh; */
    border-radius: 30px 30px 0 0;
    /* vertical-align: middle; */
    /* margin: 0 20px 0 20px; */
    /* align-self: stretch; */
}

/* .CountryDisplayBox h4 {
    margin-top: 10px;
    justify-content: flex-start;
} */

/* .CountryDisplayBox div {
    display: flex;
    gap: 8px;
} */

.CountryDisplayInfo {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0px 16px 20px 16px;
}

.CountryDisplayInfo div {
    display: flex;
    gap: 8px;
}

.CountryDescription {
    display: flex;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: #646668;
}

.SuggestedTag {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-top: 20px;
    background-color: #e3fbec;
    color: #44915e;
    padding: 7px 16px 7px 16px;
    border-radius: 10px;
    font-weight: 700;
}

.CountryDisplayBox div div p:first-child {
    font-size: 1rem;
    font-weight: 700;
    color: #544EEE;
    background-color: #E5E4FC;
    border-radius: 10px;
    padding: 7px 16px 7px 16px;
    text-align: center;
}

.CountryDisplayBox div div p:last-child {
    font-size: 1rem;
    font-weight: 700;
    color: #646668;
    background-color: #F6F6F6;
    border-radius: 10px;
    padding: 7px 16px 7px 16px;
    text-align: center;
}