.HeroImage {
    width: 100vw;
    height: 70vh;
    background-image: url(../assets/mobile-hero-image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 45px;
}

h2 {
    margin: 0 20px 0 20px;
}

.HeroImage h1 {
    margin-bottom: 100px;
}

.CountryDisplay {
    display: flex;
    margin: 0 20px 0 0;
    justify-content: space-between;
    align-items: center;
}

.CountryDisplay a {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    color: #544EEE;
}

.CountryDisplay a:hover {
    color: #34319b;
}