* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    border: 0;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

body {
    font-size: 1vw; /* Sets the font size for the whole page to 17px. This will be used as reference for REM and EM units*/
    background-color: #F6F6F6;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 8vh; /* Around 70px moved to viewport height*/ 
    background-color: #FFFFFF;
    width: 100vw; /* Will adjust the screen to always fit 100% of the width */
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1rem; /* This is 16px (technically 17.1px but who's checking? */
}

nav a:hover {
    color: #544EEE;
}

h1 {
    margin-top: 3.50vh; /* This is 30px moved to viewport height */
    margin-bottom: 2.50vh; /* This is 20px moved to viewport height */
    margin-left: 1vw; /* This is 17.1px moved to viewport height */
    margin-right: 1vw; /* This is 17.1px moved to viewport height */
    font-size: 2rem; /* This is 32px */
}

h4 {
    color: #15141B;
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
}

a {
    font-size: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8vh;
    font-size: 2rem;
}

.NavItems {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw; /* This is 20px moved to viewport width */
    margin-left: 0.60vw; /* This is 10px moved to viewport width */
    margin-right: 0.60vw; /* This is 10px moved to viewport width */
}

.active {
    color: #544EEE;
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
    /* align-items: last baseline; */
    /* gap: 2.34vw; */
    margin: 0 20px 0 20px;
}

.HeaderContainer h1 {
    /* display: flex; */
    /* align-items: flex-start; */
    margin: 30px 20px 20px 0px;
    font-size: 40px;
}

.HeaderContainer img {
    margin-top: 3.15vh;
}

.CardContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.CardContainer p {
    font-size: 0.875rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #544EEE;
    padding: 7px 16px 7px 16px;
    border-radius: 0.625rem;
}

.CountryCard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: auto; /* Around 70px moved to viewport height*/
    /* width: 23vw; */
    background-color: #FFFFFF;
    border-radius: 30px;
    gap: 1vh;
    padding: 20px;
    margin: 0 20px 0 20px;
}

.CountryTags {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1vh;
}

.CountryTags p:last-child {
    color: #646668;
    background-color: #F6F6F6;
}
