@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');


* {
    font-family: 'Roboto Flex', sans-serif;
  border: 0; 
    margin: 0;
}

body {
    font-size: 1vw; /* Sets the font size for the whole page to 17px. This will be used as reference for REM and EM units*/
    background-color: #F6F6F6;
}

nav {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 8vh;
    background-color: #FFFFFF;
    width: 100vw;
    position: fixed;
    top: 0vh;
    z-index: 999; /* Adds relative positioning */
}

a {
    text-decoration: none;
}

.NavContainer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    /* width: calc(100% - 40px); */
    width: calc(100% - 10.4vw); /*! This is around 40px and adjusted width to account for margin */
}

nav a {
    text-decoration: none;
    color: #544EEE;
}

.BurgerIcon {
    cursor: pointer;
}

.UserAreaLinks {
    display: flex;
    flex-direction: row;
    gap: 1vw; /*! This is around 4px */
}

.UserAreaLinks a:first-child {
    text-align: center;
    color: #544EEE;
    border-radius: 0.625rem;
    padding: 0.85vh 2.55vw 0.85vh 2.55vw;
}

.UserAreaLinks a:first-child:hover {
    color: #34319b;
}

.UserAreaLinks a:last-child {
    text-align: center;
    color: #FFFFFF;
    background-color: #544EEE;
    padding: 0.85vh 2.55vw 0.85vh 2.55vw;
    /*! This is around 7px and 10px */
    border-radius: 0.625rem;
}

.UserAreaLinks a:last-child:hover {
    background-color: #34319b;
}

.LogoContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    text-align: center;
    font-size: 2.500rem; /*! This is 32px */
    /* margin-top: 70px; */
    margin-top: 8vh; /*! This is around 70px */
}

h2 {
    color: #15141B;
    font-size: 1.625rem;
    font-weight: 700;
}

h4 {
    color: #15141B;
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
}

a {
    font-size: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    /* margin-top: 30px; */
    /* gap: 15px; */
    gap: 1.8vh; /*! This is 15px */
    background-color: #E5E4FC;
    flex-shrink: 0;
}

footer p:last-child {
    font-size: 0.5rem;
}

footer div {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.active {
    color: #34319b;
}

.TopInfoContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.TopInfoContainer img {
    cursor: pointer;
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
    margin: 8vh 5vw 0 5vw; /*! This is standard margins for right and left, 20px each. Also 70px for the top margin so that it doesn't get covered by NavBar*/
}

.HeaderContainer h1 {
    color: #15141B;
    margin: 3.60vh 0px 2.3vh 0px;
    font-size: 2.500rem;
}

.HeaderContainer img {
    margin-top: 3.60vh;
}

input {
    cursor: pointer;
    border-radius: 10px;
    color: #15141B;
    font-weight: 600;
    background-color: #E5E4FC;
    border: 0.25vh solid #544EEE;
    padding: 0.85vh 4.1vw 0.85vh 4.1vw; 
    margin: 1vh 5vw 2.5vh 5vw;
    font-size: 1rem;
    outline: none;
}

input::placeholder {
    color: #9895e5;
}

.FilterBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 3.50vh;
    box-shadow: 0 0.70vh 1vw 0 #E5E4FC, 0 1vh 3vw 0 #E5E4FC;
    background-color: white;
    height: auto;
    padding: 2.6vh 5vw 2.6vh 5vw;
    margin: 0vh 5vw 1.2vh 5vw;
}

.FilterBox h4 {
    margin: 0vh 5vw 1.2vh 5vw;
}

.FilterOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.FilterOptions div {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: flex-start;
}

.FilterOptions div:last-child {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: flex-start;
}

.Selected {
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #544EEE;
    border-radius: 10px;
    padding: 7px 16px 7px 16px;
    text-align: center;
}

.Unselected {
    font-size: 1rem;
    font-weight: 700;
    color: #646668;
    background-color: #F6F6F6;
    border-radius: 10px;
    padding: 7px 16px 7px 16px;
    text-align: center;
}

.CardContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100vw;
    gap: 12px;
    min-height: 60vh;
    margin-bottom: 25px;
}

.CardContainer a {
    text-decoration: none;
    margin: 0 5vw 0 5vw;
}

.CardContainer p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.875rem;
    font-weight: 700;
    color: #544EEE;
    background-color: #E5E4FC;
    padding: 7px 16px 7px 16px;
    border-radius: 0.625rem;
}

.CountryCard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    width: auto;
    background-color: #FFFFFF;
    border-radius: 30px;
    gap: 1vh;
    padding: 20px;
    margin: 0px 0px 0px 0px;
    
}

.CountryTags {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1vh;
}

.CountryTags p:last-child {
    color: #646668;
    background-color: #F6F6F6;
}

/*! Modal Styles */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    z-index: 999;
    font-weight: 700;
}

.modal hr {
    border: 1px solid #E5E4FC;
    width: 90vw;
    margin: 50px 0 20px 0;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NavItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 5vw 300px 5vw;
    gap: 20px;
}

.UserAreaLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px
}

.NavItems p {
    color: #15141B;
    font-size: 1.6rem;
    margin-bottom: -30px;
}

.NavItems a, .UserAreaLinks a {
    text-decoration: none;
    color: #544EEE;
    font-size: 1.3rem;
    margin: 5px 0;
}

.CloseButton {
    background-color: transparent;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

/*? About Page Styles */

.AboutPage {
    display: flex;
    flex-direction: column;
    margin: 30px 5vw 20px 5vw;
}

.AboutPage h1 {
    text-align: left;
    margin-bottom: 10px;
    color: #544EEE;
}

.AboutPage h2 {
    margin: 30px 5vw 10px 0px;
    font-size: 1.5rem;
    color: #544EEE;
}

.AboutPage h3 {
    font-size: 1rem;
    margin: 30px 0 0 0;
    color: #544EEE;
}

.AboutPage p {
    margin: 5px 0 5px 0;
    color: #646668;
}

.AboutPage span {
    color: #9895e5;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.scroll-to-top button {
    background-color: #534eee;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}

.scroll-to-top img {
    border: 1px solid rgba(255, 255, 255, 0.40);
    background: rgba(137, 137, 137, 0.4);
    border-radius: 10px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.scroll-to-top img {
    height: 47px;
    width: 47px;
}

.ReviewButton {
    font-size: 1rem;
    font-weight: 700;
    color: #646668;
    background-color: #F6F6F6;
    border-radius: 10px;
    padding: 7px 16px 7px 16px;
    text-align: center;
}

.ReviewContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px 20px;
    gap: 20px;
    background-color: #FFFFFF;
    margin: 0 5vw 20px 5vw;
    border-radius: 30px;
}

.ReviewText {
    color: #646668;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.ReviewContainer h3 {
    font-size: 16px;
    color: #15141B;
}

.ReviewDate {
    font-size: 14px;
    color: #AAACAE;
    font-weight: 400;
    line-height: 140%;
}

.TravelDetails {
    display: flex;
    flex-direction: column;
}
.TravelDetails p {
    font-size: 14px;
    font-weight: 700;
    line-height: 140%;
}

.TravelDetails span {
    font-weight: 400;
}

.WarningMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 90px 20px 0px 20px;
    min-height: 80vh;
}

.WarningMessage a {
    font-size: 24px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #534eee;
}

.ReviewsAccessDenied {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
    font-size: 1rem;
    text-align: center;
    border-radius: 30px;
}